@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  outline: transparent;
  -webkit-tap-highlight-color: transparent;
} */

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  
}

.txt{
font-family: 'Quicksand', sans-serif;
}

.mails {
  font-family: 'Cabin Sketch', cursive ;
}

.hello {
  font-family: 'Cabin Sketch', cursive ;
}



#menu_checkbox {
  display: none;
}

label {
  position: relative;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  display: block;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  transition: 0.3s ease transform;
  cursor: pointer;
}

label div {
  width: 4px;
  height: 4px;
  background-color: #143240;
  margin-left: 0;
  margin-bottom: 6px;
  border-radius: 4px;
  transition: 0.3s ease width, 0.3s ease margin-left, 0.3s ease margin-bottom,
    0.3s ease background-color;
}

label div:first-child {
  width: 30px;
}

label div:nth-child(2) {
  width: 30px;
}

label div:last-child {
  width: 30px;
  margin-bottom: 0;
}

#menu_checkbox:checked + label {
  transform: translateY(-50%) rotateZ(-90deg);
}

#menu_checkbox:checked + label div {
  width: 6px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: rgb(4, 4, 189);
}
